@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
    --primaryColor: #7209b7;
}

.navigation {
    position: fixed;
    height: 100%;
    right: 3%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 2rem;
}

.titleContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    background: rgb(229, 210, 250);
    background: linear-gradient(
        90deg,
        rgba(229, 210, 250, 1) 0%,
        rgba(235, 195, 250, 1) 100%
    );
    justify-content: center;
    flex-direction: column;
    user-select: none;
}

.title {
    margin-left: 10rem;
    font-size: 3.5rem;
    font-weight: 600;
    color: #272341;
}

.name {
    color: var(--primaryColor);
}

.contactButtons {
    position: absolute;
    bottom: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 5rem;
}

.contact {
    width: 50px;
    height: 50px;
    color: var(--primaryColor);
}

.aboutMe {
    margin-top: 2rem;
    margin-left: 10rem;
    font-size: 1.7rem;
    padding: 5px 10px;
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
    border: 2px solid var(--primaryColor);
    color: var(--primaryColor);
    font-weight: 600;
    transition: background-color 0.3s ease-in, color 0.3s;
}

.aboutMe:hover {
    cursor: pointer;
    background-color: var(--primaryColor);
    color: #fff;
}

.aboutContainer {
    width: 100%;
    height: 100vh;
    background: rgb(114, 9, 183);
    background: linear-gradient(
        90deg,
        rgba(114, 9, 183, 1) 0%,
        rgba(114, 9, 183, 1) 30%,
        rgba(0, 138, 184, 1) 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.subtitle {
    margin-bottom: 6rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
}

.light {
    color: #fff;
}
.dark {
    color: #272341;
}

.myDescription {
    display: flex;
    column-gap: 5rem;
}

.about {
    max-width: 600px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    user-select: text;
}
.profilePic {
    box-shadow: 0 0px 25px #ffe9ff;
    border-radius: 50%;
    width: 230px;
    user-select: none;
    transition: box-shadow 0.3s;
}

.profilePic:hover {
    box-shadow: 0 0px 50px #ffe9ff;
}

.viewResume {
    margin-top: 2rem;
    font-size: 1.3rem;
    padding: 8px 12px;
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 400;
    transition: background-color 0.3s ease-in, color 0.3s;
}

.viewResume:hover {
    cursor: pointer;
    background-color: #fff;
    color: var(--primaryColor);
}

.goHome {
    cursor: pointer;
    /* position: fixed;
    right: 40px;
    top: 30%; */
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: var(--primaryColor);
    color: #fff;
    padding: 10px 10px;
    box-shadow: 0 0px 5px #000;
}
.goAbout {
    cursor: pointer;
    /* position: fixed;

    right: 40px;
    top: 40%; */
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: var(--primaryColor);
    color: #fff;
    padding: 10px 12px;
    box-shadow: 0 0px 5px #000;
}
.goProjects {
    /* position: fixed;
    right: 40px;
    top: 50%; */
    cursor: pointer;

    border-radius: 50%;
    border: 1px solid #fff;
    background-color: var(--primaryColor);
    color: #fff;
    padding: 10px 10px;
    box-shadow: 0 0px 5px #000;
}
.goSkills {
    cursor: pointer;

    /* position: fixed;
    right: 40px;
    top: 60%; */
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: var(--primaryColor);
    color: #fff;
    padding: 10px 12px;
    box-shadow: 0 0px 5px #000;
}
/* .goContact {
    position: fixed;
    right: 40px;
    cursor: pointer;

    top: 70%;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: var(--primaryColor);
    color: #fff;
    padding: 10px 10px;
    box-shadow: 0 0px 5px #000;
} */
.projectsContainer {
    width: 100%;
    height: fit-content;
    background: rgb(229, 210, 250);
    background: linear-gradient(
        90deg,
        rgba(229, 210, 250, 1) 0%,
        rgba(235, 195, 250, 1) 100%
    );
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    user-select: none;
}

.project {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    column-gap: 5rem;
    align-items: center;
}
.projectDescription {
    display: flex;
    flex-direction: column;
}

.projectTitle {
    font-size: 1.5rem;
}

.projectExplanation {
    max-width: 300px;
    line-height: 1.5rem;
}

.projectImage {
    border: 1px solid var(--primaryColor);
    border-radius: 5px;
    padding: 5px;
    max-width: 600px;
    transition: box-shadow 0.3s;
}
.projectImage:hover {
    box-shadow: 0 0px 15px var(--primaryColor);
}
.seeLive {
    margin-top: 2rem;
    font-size: 1rem;
    padding: 5px 10px;
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
    border: 2px solid var(--primaryColor);
    color: var(--primaryColor);
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease-in, color 0.3s;
}

.seeLive > a {
    color: var(--primaryColor);
    text-decoration: none;
}

.seeLive:hover {
    background-color: var(--primaryColor);
    color: #fff;
}

.sourceCode {
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    margin-top: 2rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primaryColor);
}

.projectButtons {
    column-gap: 2rem;
    width: 300px;
    display: flex;
}

.skillsContainer {
    width: 100%;
    height: 100vh;
    background: rgb(114, 9, 183);
    background: linear-gradient(
        90deg,
        rgba(114, 9, 183, 1) 0%,
        rgba(114, 9, 183, 1) 30%,
        rgba(0, 138, 184, 1) 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.skillsTitle {
    color: #fff;
    padding-bottom: 5rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
}

.skillsList {
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 5rem;
    row-gap: 3rem;
    max-width: 800px;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

.skill {
    color: #fff;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    user-select: text;
    align-items: center;
    row-gap: 1rem;
}

.skill > img {
    width: 70px;
    height: 70px;
    background-color: #fff;
    padding: 10px;
    user-select: none;
    border-radius: 30%;
}
.contactContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background: rgb(229, 210, 250);
    background: linear-gradient(
        90deg,
        rgba(229, 210, 250, 1) 0%,
        rgba(235, 195, 250, 1) 100%
    );
    justify-content: flex-start;
    flex-direction: column;
    user-select: none;
}

@media screen and (max-width: 500px) {
    .navigation {
        position: fixed;
        width: 100vw;
        top: 88%;
        display: flex;
        justify-content: center;
        column-gap: 2rem;
        flex-direction: row;
    }
    .title {
        padding: 0 2rem;
        margin-left: 0;
        font-size: 3.2rem;
        font-weight: 600;
        color: #272341;
    }

    .contactButtons {
        bottom: 85%;
    }
    .contact {
        width: 40px;
        height: 40px;
    }
    .aboutLink {
        width: 100vw;
        display: flex;
        text-decoration: none;
        justify-content: center;
        margin-top: 2rem;
    }

    .aboutMe {
        margin: 0;
    }
    .subtitle {
        margin-bottom: 0.7rem;
    }

    .aboutContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        user-select: none;
    }

    .myDescription {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
    }

    .profilePic {
        width: 150px;
    }

    .about {
        width: 80vw;
        margin-top: 2rem;
        font-size: 1.3rem;
    }
    .viewResume {
        margin: 0;
        font-size: 1.2rem;
        padding: 8px 12px;
        font-weight: 400;
        transition: background-color 0.3s ease-in, color 0.3s;
    }
    .projectImage {
        border: 1px solid var(--primaryColor);
        border-radius: 5px;
        padding: 5px;
        max-width: 10vw;
        transition: box-shadow 0.3s;
    }
}
